ansible_python_interpreter: auto

server_username: user
server_password: # generate with mkpasswd --method=sha-512

git_user_name: John Doe
git_user_email: john@example.org

smartd_email: user@example.org

smtp_from: nas@example.org
smtp_username: nas@example.org
smtp_password: smtpsecret
smtp_host: smtp.example.org
smtp_port: 25

ssl_wildcard_domain: "*.example.org"
dns_provider_username: user
dns_provider_password: secret

docker_healthcheck_endpoint: # generate URL from healthchecks.io
server_healthcheck_endpoint: # generate URL from healthchecks.io
appconfig_backup_healthcheck_endpoint: # generate URL from healthchecks.io

lan_address_range: 10.0.1.0/24

ssh_tunnel_server_host: server_hostname
ssh_tunnel_server_port: 22
ssh_tunnel_server_user: server_user
ssh_tunnel_server_private_key: /path/to/id_rsa
ssh_tunnel_client_host: client_hostname
ssh_tunnel_client_port: 22
ssh_tunnel_client_user: client_user

ssh_portforward_server_user: server_user
ssh_portforward_server_private_key: /path/to/id_rsa
ssh_portforward_client_host: client_hostname
ssh_portforward_client_port: 22
ssh_portforward_client_user: client_user
ssh_portforwards:
  - dest: localhost:80
    src: 0.0.0.0:80
  - dest: localhost:443
    src: 0.0.0.0:443
