[Interface]
PrivateKey = {{ nas_private_key }}
ListenPort = {{ wireguard_listen_port }}
Address = {{ nas_ip_addr }}
MTU = 1280

# Enable access to LAN network behind NAT
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -t nat -A POSTROUTING -o enp7s0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT
PostDown = iptables -t nat -D POSTROUTING -o enp7s0 -j MASQUERADE

[Peer]
PublicKey = {{ tunnel_public_key }}
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_listen_port }}
AllowedIPs = {{ wireguard_address_range }}
PersistentKeepalive = {{ wireguard_keepalive_duration }}
