[Interface]
PrivateKey = {{ item.private_key }}
Address = {{ item.ip_addr }}
DNS = {{ wireguard_dns }}
MTU = 1280

[Peer]
PublicKey = {{ tunnel_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_endpoint }}:{{ wireguard_listen_port }}
PersistentKeepalive = {{ wireguard_keepalive_duration }}
